*{
    box-sizing: border-box;
}

#special{
    background-color: #ff0000;
}

body {
    font-family:Arial, Helvetica, sans-serif;
}

/*Style the header*/
#header {
    background-color: #0000e6;
    padding: 25px; /*afstand mellem tekst og kant af boks*/
    width: 100vw;
    text-align: center; /*placering på skærmen*/
    font: size 50%; /*tekststørrelse*/
    color: white;
    margin: 0px;
    left: 0%;
    top: 0%;
    position: fixed;
    height: 30%;
}



/*To kolonner ved siden af hinanden*/
#nav{ /*menu*/
    width: 30%;
    background: #ccc;
    padding: 5vw;
    margin: 0px;
    height: 65%;
    position: fixed;
    left: 0vw;
    top: 30%;
}

/*design af menu*/
nav ul {
    list-style-type: none;
    padding: 0;
}

/*Brødtekst*/
#article {
    padding: 20px;
    width: 70%;
    height: auto;
    background-color: #f1f1f1;
    /*margin: ;*/
    top:30%;
    height: 65%;
    right: 0vw;
    position:fixed;

}

/*p{border: 1px solid red;}*/

/*clear floats after the columns*/
/*section: after{

}
*/
/*Style the heading*/
/*
h1 {
    font-style: initial;
    font-family: Helvetica;
}
*/
/*Style the footer*/
footer{
    background-color:#ff0000;
    width: 100%;
    text-align: center;
    font-size: 10px;
    font-family:arial;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    height:5%;

}

/*for at boksene "stacks" oven på hinanden når skærmen bliver mindre frem for ved siden af hinanden*/
@media (max-width: 600px){
    nav, article{
        width: 100%;
        height: auto;

    }


}

p.sider{
    text-decoration: none;
    text-decoration-color: #ff0000;
}
